body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  font-size: 18px;
  line-height: 2;
}
/*
 * Formatting the search box
 */
.logo { 
  width: 100px;
  height: 100px;
}
/*
 * Formatting the header area
 */
header {
  background-color: #423e39;
  width: 80%;
  height: 120%;
  opacity: .9;
  margin: 0 auto;
}

/*
 * Centering the body content
 */
.container {
  width: 80%;
  margin: 0 auto;
}
div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  letter-spacing: -1px;
  color: #ffcfcf;
}
.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #444;
  text-decoration: none;
}